<div class="w-screen h-screen bg-zinc-100 p-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="bg-white rounded p-2 w-96">
    <div class="flex flex-col">
      <label for="email">Email</label>
      <input id="email" fullControlName="email" />
    </div>
  </form>
</div>

<!-- <div class="w-full h-screen bg-zinc-100 p-2">
  <div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="form" (ngSubmit)="onSubmit()"> -->

<!-- 
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password"> Password </label>
        <input
          id="password"
          class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
          formControlName="password"
          type="password"
          placeholder="******************" />
      </div>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit">
        Sign In
      </button>
    </form>
  </div>
</div> -->
