@switch (affiliation.type) {
@case ('pikachu') {
<p class="team">{{ affiliation.type | titlecase | affiliation: affiliation.owner }}</p>
}
@case ('meowth') {
<p class="team">{{ affiliation.type | titlecase | affiliation: affiliation.owner }}</p>
}
@case ('staryu') {
<p class="team">{{ affiliation.type | titlecase | affiliation: affiliation.owner }}</p>
}
@case ('steelix') {
<p class="team">{{ affiliation.type | titlecase | affiliation: affiliation.owner }}</p>
}
@case ('unknown') {
<p class="team">{{ affiliation.warningMessage }}</p>
}
@default {
<p class="team">This should not appear</p>
}
}