.card {
  border: 1px solid black;
  display: flex;
  padding: 0.75rem;
  margin-bottom: 0.25rem;
  height: 150px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}
