<div class="content">
  @if (pokemonDetails$ | async; as pokemonDetails) {
  @defer {
  <app-pokemon-physical [pokemonDetails]="pokemonDetails" />
  <app-pokemon-statistics [statistics]="pokemonDetails.stats" />
  <app-pokemon-abilities [abilities]="pokemonDetails.abilities" />
  } @loading (minimum 200ms) {
  <p>Loading....</p>
  } @placeholder (minimum 500ms) {
  <p>Placeholder of Pokemon</p>
  } @error {
  <p>Failed to load dependencies</p>
  }
  }
</div>
<div class="button-bar">
  <button (click)="backToPage()">Go back</button>
</div>