.card-layout {
  display: flex;
  flex-wrap: wrap;
}

.card-layout > * {
  --num-cards: 7;
  flex-basis: calc((100% - 2 * 0.75rem) / var(--num-cards));
  flex-shrink: 1;
  flex-grow: 0;
}

@media (max-width: 1440px) {
  .card-layout > * {
    --num-cards: 6;
  }
}

@media (max-width: 1200px) {
  .card-layout > * {
    --num-cards: 5;
  }
}

@media (max-width: 992px) {
  .card-layout > * {
    --num-cards: 4;
  }
}

@media (max-width: 768px) {
  .card-layout > * {
    --num-cards: 3;
  }
}

@media (max-width: 576px) {
  .card-layout > * {
    --num-cards: 2;
  }
}

@media (max-width: 360px) {
  .card-layout > * {
    --num-cards: 1;
  }
}
